# <center>Datos de la Oficina Nacional de Meteorología</center>
##### <p>Elaborador por: </p>
### Unidad de Monitoreo y Evaluacion de las Funciones de Vigilancia y Control Epidemiologico
###### - Integrante: 

* Jean Charly Ph. Joseph S.

## Detalles
Este Script permite modificar la forma en la que llegan los datos Meteorológicos, modificando tanto la forma como también su contenido, modificando lo siguiente: 
* Fecha
* Estructura del Dato
* Agregando Semana Epidemiología

Generando un Excel, con los datos listo para su uso.

Ejemplo como llegan.

|Dia |ENE |FEB |MAR |ABR |MAYO |
|-------|-------|-------|-------|-------|-------|
|1|0.0 |0.0 |1.0 | 2.1 | 3.0|
|2|0.0 |0.0 |1.0 | 2.1 | 3.0|
|3|0.0 |0.0 |1.0 | 2.1 | 3.0|
|4|0.0 |0.0 |1.0 | 2.1 | 3.0|
|5|0.0 |0.0 |1.0 | 2.1 | 3.0|
|6|0.0 |0.0 |1.0 | 2.1 | 3.0|

## Importacion de Librerias

In [425]:
import os
import re

from pandas import read_excel
from pandas import DataFrame, Series
from pandas import isnull, notnull
from pandas import concat, date_range
from pandas import ExcelWriter

from openpyxl import load_workbook
from openpyxl import Workbook

In [426]:
file = 'PUNTA CANA  .xlsx'
Libro = load_workbook(file)
hoja = Libro.sheetnames
count = 0
for i in range(len(hoja)):
    print(i, hoja[count])
    count += 1

0 PRECIPITACION
1 T.MAX
2 T.MIN
3 H.RELATIVA
4 PRECIPITACION 2016
5 PRECIPITACION 2017
6 PRECIPITACION 2018
7 PRECIPITACION 2019
8 PRECIPITACION 2020
9 T.MAX 2016
10 T.MAX.2017
11 T.MAX.2018
12 T.MAX.2019
13 T.MAX.2020
14 T.MIN 2016
15 T. MAN.2017
16 T.MIN.2018
17 T.MIN.2019
18 T.MIN.2029
19 H.RELATIVA (2016)
20 H.RELATIVA.2017
21 H.RELATIVA.2018
22 H.RELATIVA.2019
23 H.RELATIVA.2020

## Carga de DataSet

In [427]:
indexSheetName = hoja[23]
bookName = re.sub(r'[0-9.)(]+', '', str(indexSheetName).replace(' ', ''))
ano = '2020'
dataset = read_excel(file, sheet_name=indexSheetName)
dataset = dataset.drop(dataset.index[31])
bookName

'HRELATIVA'

### Enero

In [428]:
enero = dataset['ENE']
fecha = DataFrame({'Fecha': date_range(f'01-01-{ano}', periods=31, freq='d')})
enero_ = concat([fecha, enero], axis=1)
enero_['SemanaEpi'] = enero_['Fecha'].dt.isocalendar().week
# enero_

### Febrero

In [429]:
febrero = dataset['FEB']
fecha = DataFrame({'Fecha': date_range(f'02-01-{ano}', periods=29, freq='d')})
febrero_ = concat([fecha, febrero], axis=1)
febrero_['SemanaEpi'] = febrero_['Fecha'].dt.isocalendar().week
# febrero_

### Marzo

In [430]:
marzo = dataset['MAR']
fecha = DataFrame({'Fecha': date_range(f'03-01-{ano}', periods=31, freq='d')})
marzo_ = concat([fecha, marzo], axis=1)
marzo_['SemanaEpi'] = marzo_['Fecha'].dt.isocalendar().week
# marzo_

### Abril

In [431]:
abril = dataset['ABR']
fecha = DataFrame({'Fecha': date_range(f'04-01-{ano}', periods=31, freq='d')})
abril_ = concat([fecha, abril], axis=1)
abril_['SemanaEpi'] = abril_['Fecha'].dt.isocalendar().week
# abril_

### Mayo

In [432]:
mayo = dataset['MAY']
fecha = DataFrame({'Fecha': date_range(f'05-01-{ano}', periods=31, freq='d')})
mayo_ = concat([fecha, mayo], axis=1)
mayo_['SemanaEpi'] = mayo_['Fecha'].dt.isocalendar().week
# mayo_

### Junio

In [433]:
junio = dataset['JUN']
fecha = DataFrame({'Fecha': date_range(f'06-01-{ano}', periods=30, freq='d')})
junio_ = concat([fecha, junio], axis=1)
junio_['SemanaEpi'] = junio_['Fecha'].dt.isocalendar().week
# junio_

### Julio

In [434]:
julio = dataset['JUL']
fecha = DataFrame({'Fecha': date_range(f'07-01-{ano}', periods=31, freq='d')})
julio_ = concat([fecha, julio], axis=1)
julio_['SemanaEpi'] = julio_['Fecha'].dt.isocalendar().week
# julio_

### Agosto

In [435]:
agosto = dataset['AGO']
fecha = DataFrame({'Fecha': date_range(f'08-01-{ano}', periods=31, freq='d')})
agosto_ = concat([fecha, agosto], axis=1)
agosto_['SemanaEpi'] = agosto_['Fecha'].dt.isocalendar().week
# agosto_

### Septiembre

In [436]:
septiembre = dataset['SEP']
fecha = DataFrame({'Fecha': date_range(f'09-01-{ano}', periods=30, freq='d')})
septiembre_ = concat([fecha, septiembre], axis=1)
septiembre_['SemanaEpi'] = septiembre_['Fecha'].dt.isocalendar().week
# septiembre_

### Octubre

In [437]:
octubre = dataset['OCT']
fecha = DataFrame({'Fecha': date_range(f'10-01-{ano}', periods=31, freq='d')})
octubre_ = concat([fecha, octubre], axis=1)
octubre_['SemanaEpi'] = octubre_['Fecha'].dt.isocalendar().week
# octubre_

### Noviembre

In [438]:
noviembre = dataset['NOV']
fecha = DataFrame({'Fecha': date_range(f'11-01-{ano}', periods=30, freq='d')})
noviembre_ = concat([fecha, noviembre], axis=1)
noviembre_['SemanaEpi'] = noviembre_['Fecha'].dt.isocalendar().week
# noviembre_

### Diciembre

In [439]:
diciembre = dataset['DIC']
fecha = DataFrame({'Fecha': date_range(f'12-01-{ano}', periods=31, freq='d')})
diciembre_ = concat([fecha, diciembre], axis=1)
diciembre_['SemanaEpi'] = diciembre_['Fecha'].dt.isocalendar().week
# diciembre_

# Concatenar Meses

In [440]:
ene = DataFrame.rename(enero_, columns={
        'ENE': "Valor"
}, inplace=False)
#####
feb = DataFrame.rename(febrero_, columns={
        'FEB': "Valor"
}, inplace=False)
#####

mar = DataFrame.rename(marzo_, columns={
        'MAR': "Valor"
}, inplace=False)
#####

abr = DataFrame.rename(abril_, columns={
        'ABR': "Valor"
}, inplace=False)
#####

may = DataFrame.rename(mayo_, columns={
        'MAY': "Valor"
}, inplace=False)
#####

jun = DataFrame.rename(junio_, columns={
        'JUN': "Valor"
}, inplace=False)
#####

jul = DataFrame.rename(julio_, columns={
        'JUL': "Valor"
}, inplace=False)
#####


ago = DataFrame.rename(agosto_, columns={
        'AGO': "Valor"
}, inplace=False)
#####

sep = DataFrame.rename(septiembre_, columns={
        'SEP': "Valor"
}, inplace=False)
#####

oct_ = DataFrame.rename(octubre_, columns={
        'OCT': "Valor"
}, inplace=False)
#####

nov = DataFrame.rename(noviembre_, columns={
        'NOV': "Valor"
}, inplace=False)

#####
dic = DataFrame.rename(diciembre_, columns={
        'DIC': "Valor"
}, inplace=False)


df = concat([ene, feb,mar, abr,may, jun, jul, ago, sep, oct_, nov, dic], ignore_index=True)
df = df.fillna(0)
df1 = df[df['Fecha'] == 0].index
df = df.drop(index=df1.values.tolist())
df.head()

                 Fecha Valor  SemanaEpi
0  2020-01-01 00:00:00  82.5          1
1  2020-01-02 00:00:00  76.5          1
2  2020-01-03 00:00:00  82.0          1
3  2020-01-04 00:00:00  74.1          1
4  2020-01-05 00:00:00  83.4          1

# Grabar Datos

## Crear Nueva Excel

In [441]:
if os.path.exists(f'Trabajadas/{bookName}.xlsx') == True:
    wl = load_workbook(f'Trabajadas/{bookName}.xlsx')
else:
    wl = Workbook(f'Trabajadas/{bookName}.xlsx')

sheet = wl.create_sheet(ano)

ws = wl.active
column = df.columns.values.tolist()
sheet.append(column)
for i in df.values.tolist():
    sheet.append(i)
try:
    wl.save(f'Trabajadas/{bookName}.xlsx')
    print(f"--------------{wl.sheetnames} Grabado con Exito... :)--------------")
except PermissionError:
    print(f"No tiene permiso o el documento '{bookName}' se encuentra abierto. :(")

--------------['2016', '2017', '2018', '2019', '2020'] Grabado con Exito... :)--------------